/*************GLOBAL:STYLES************/

/* importing default font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-green: #7ADA46;
    --grey1: #F8F9FC;
    --grey2: #E6E7EA;
    --secondary-purple: #9200BB;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;

}

.app-content-container {
    display: flex;
}

.input {
    width: 300px;
    min-height: 17px;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
  }

/*************GLOBAL:STYLES************/
/*************SPLASHPAGE:STYLES************/ 
.splash-page-header {
    padding-top: 1rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.splash-page-header button {
    background-color: #80deea;
    color: black;
    font-size: .75rem;
    height: 2rem;
    border: none;
    width: 6rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-weight: 700;
}


.splash-page-content {
    padding-top: 3rem;
    background-color: black;
    color: white;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-page-content h1 {
    font-size: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
}


.splash-page-content p {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    font-size: .875rem;
    max-width: 40rem;
}


.splash-page-sign-up-button {
    background-color: white;
    font-size: .75rem;
    height: 3rem;
    border: none;
    width: 12rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 700;
}

.splash-page-download-button {
    background-color: var(--primary-green);
    font-size: .875rem;
    font-weight: 700;
    height: 3rem;
    border: none;
    width: 16rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.splash-page-video {
    height: 30rem;
    /* width: 100%; */
}

/*************SPLASHPAGE:STYLES************/ 
/*************SPLASHPAGE:MEDIA-QUERIES************/

@media only screen and (min-width: 600px) {

    
.splash-page-content {
    padding-top: 10rem;
    text-align: center;
}

.splash-page-video {
    height: 40rem;
    /* width: 100%; */
}

.splash-page-content {
    padding-bottom: 0rem;
}

}

@media only screen and (min-width: 796px) {

    
    .splash-page-content-overflow-wrapper {
        overflow: hidden;
        background-color: black;
    }
    .shift-content-wrapper {
        position: absolute;
        left: 0;
        right: 0;
    }

    .splash-page-content {
        width: 100%;
        background-color: initial;
    }
    .splash-page-header {
        width: 100%;
        background-color: initial;
    }
    .splash-page-video {
       width: 100vw;
       object-fit: cover;
       height: 100vh;
       
    }

    
    }

/*************SPLASHPAGE:MEDIA-QUERIES************/ 
/*************LOGIN.HTML:STYLES************/

.logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.logo {
    margin-top: 1rem;
    width: 7rem;
}
.login-form-section {
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-section h3 {
    padding-top: 3rem;
    font-size: 1.5rem;
}
.login-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}

.login-form {
    max-width: 30rem;
}
.login-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.login-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.login-form a {
    display: inline;
}

.login-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.login-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.login-form a {
    font-size: .875rem;
    display: inline-block;
}

.login-banner {
    background-color: #501069;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.login-banner h1 {
    font-size: 2rem;
}
.login-banner p {
    font-size: 1rem;
}







/*************LOGIN.HTML:STYLES************/


@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}


@media only screen and (min-width: 776px) {

    .login-banner-mobile {
        display: none;
    }

    .login-page-body {
        display:flex;
    }

    .login-form-section {
        /* padding-top: 2rem; */
        width: 50%;
        max-width: 22rem;
    }
    .login-banner {
        width: 100%;
    }
    
}

/*************LOGIN.HTML:MEDIA-QUERIES************/

/*************SIGNUP.HTML:STYLES************/
.signup-form-section {
    padding-top: 3rem;
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-section h3 {
    font-size: 1.5rem;
}
.signup-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}

.signup-form {
    max-width: 30rem;
}
.signup-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.signup-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.signup-form a {
    display: inline;
}

.signup-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.signup-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.signup-form a {
    font-size: .875rem;
    display: inline-block;
}

.signup-banner {
   background-color: #501069;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.signup-banner h1 {
    font-size: 2rem;
}
.signup-banner p {
    font-size: 1rem;
}
/*************SIGNUP.HTML:STYLES************/

/*************LOGIN.HTML:STYLES************/


@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}


@media only screen and (min-width: 776px) {

    .login-banner-mobile {
        display: none;
    }

    .login-page-body {
        display:flex;
    }

    .login-form-section {
        /* padding-top: 2rem; */
        width: 50%;
        max-width: 22rem;
    }
    .login-banner {
        width: 100%;
    }
    
}

/*************LOGIN.HTML:MEDIA-QUERIES************/

/*************DASHBOARD.HTML:STYLING************/
/* body {
    margin: 10px 60px;
}
a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}
textarea {
    width: 80%;
    height: 80px;
}
button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.main {
    background-color: #DAF5CB;
    padding: 10px 40px;
}
.comments {
    margin: 40px 0;
}
.row {
    padding: 5px 0;
}
.comment-ts {
    padding-left: 10px;
}

.dashboard-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.dashboard-banner {
   background-color: #56B524;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.dashboard-banner h1 {
    font-size: 2rem;
}
.dashboard-banner p {
    font-size: 1rem;
} */


/********HEADER:START************/

header {
  background-color: var(--primary-green);
}

.mobile-nav img {
  width: 2rem;
  margin-right: .25rem;
}

/********HEADER:END************/

/********SIDEBAR.JS:START************/
.aside {
  display: flex;
  width: 2.5rem;
}
.sticky-dash {
    height: calc(100vh - 4rem);
    background-color: var(--grey2);
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    min-width: 2.5rem;
}

.sticky-dash ul {
    margin-top: .5rem;
    list-style-type: none;
    padding-left: 0;
}

.sidebar {
    position: absolute;
    left: -100%;
    top: 2.28rem;
    z-index: 2;
    background-color: var(--grey1);
    transition: .5s;
    padding-top: 2rem;
    height: calc(100vh - 4rem);
    width: calc(100% - 2.5rem);
    /* max-width: 20rem; */
}

.sidebar h3 {
    font-size: .875rem;
    font-weight: 600;
    margin-left: .5rem;
}

.sidebar-add-icon {
    width: 1rem;
    margin-right: .1rem;
}

.sidebar ul {
  border-top: 1px solid var(--grey2);
  list-style: none;
  padding-left: 0;
  background-color: var(--grey1);
}

.sidebar li a {
  font-size: .875rem;
  color: black;
  text-decoration: none;
}

.sidebar li {
  font-size: .875rem;
  padding-left: .5rem;
  padding-top: .65rem;
  padding-bottom: .65rem;
  border-bottom: 1px solid var(--grey2);
  color: black;
  text-decoration: none;
}

.add-thread-row {
    display: flex;
    align-items: center;
}
.add-thread-row span {
    font-size: .875rem;
}

.add-dm-row {
    display: flex;
    align-items: center;
}
.add-dm-row span {
    font-size: .875rem;
}

/*************SIDEBAR.JS:END************/
/*************FOOTER:START************/

footer {
  height: 2rem;
  background-color: var(--secondary-purple);
}

/*************FOOTER:END************/
/*************THREEDDISPLAY:START****************/

.thread-wrapper {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}
.thread-content-container {
  padding-left: 1.5rem;
  width: calc(100% - 2.5rem);
  max-width: 40rem;
}

.thread-header h3 {
  margin-left: 1rem;
  font-size: 1rem;
  margin-top: 2rem;
}

.thread-header p {
  margin-left: 1rem;
  font-size: .75rem;
}

.chat {
    line-height: 1.1rem;
    font-size: .75rem;
    background-color: #FFA000;
    color: white;
    padding: .5rem;
    border-radius: .25rem;
    margin-top: .5rem;
    margin-left: .875rem;
}

.chat p {
    font-size: .65rem;
    margin-bottom: 0;
}

.chat-name {
    font-size: .75rem;
    margin-top: 1rem;
    font-weight: 500;
}
.chat-date {
    font-size: .55rem;
    color: #FFE3A1;
    margin-left: 1rem;
}

.add-chat {
    border: 1px solid red;
    margin-top: 1rem;
    margin-left: .875rem;
    width: 100%;
}
.add-chat input {
    border: none;
    font-size: .75rem;
    width:calc(100% - 1rem) 
}
/*************THREEDDISPLAY:END****************/
/*************THREEDDISPLAY-MEDIA-QUERIES:START****************/

@media only screen and (min-width: 680px) {
  
    .aside {
      max-width: 20rem;
    }
    .sidebar {
        max-width: 20rem;
    }
    .thread-wrapper {
      position: static;
      width: 100%;
    }
}

/*************THREEDDISPLAY-MEDIA-QUERIES:END****************/
/*************RIGHTSHELF:START****************/

.right-shelf {
  display: none;
  background-color: var(--grey1);
  width: 14rem;
  padding-left: 1rem;
}

.right-shelf h3 {
  margin-top: 2rem;
  font-weight: 500;
  font-size: .75rem;
}

.right-shelf ul {
  margin-top: 1rem;
  list-style: none;
  padding-left: 0;
}
.right-shelf li {
  margin-top: .75rem;
  font-size: .75rem;
}

/*************RIGHTSHELF:END****************/
/*************THREEDDISPLAY-MEDIA-QUERIES:START****************/

@media only screen and (min-width: 925px) {
  
  .right-shelf {
    display: block;
  }
}

/*************THREEDDISPLAY-MEDIA-QUERIES:END****************/
/*************PROFILE.JS:START****************/

.profile-header {
    margin-top: 2rem;
}
.profile-header h3 {
    font-size: 1rem;
}

.profile-wrapper {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}
.profile-content-container {
    padding-left: 1.5rem;
    width: calc(100% - 2.5rem);
    max-width: 40rem;
}

.placeholder-img {
    width: 10rem;
    height: 10rem;
    background-color: lightblue;
}

.user-info {
    margin-top: 1rem;
}

.user-name {
    font-size: 1.25rem;
    font-weight: 600;
}

.tech-stack {
    margin-top: .75rem;
}

.tech-stack ul {
    padding-left: 0;
    list-style-type: none;
    display: inline-block;
}
.tech-stack ul li {
    margin-right: 1rem;
    font-size: .75rem;
    display: inline-block;
}

/*************PROFILE.JS:END****************/
/*************PROFILE.JS:MEDIA-QUERIES-START***************/

.profile-wrapper {
    position: static;
    width: 100%;
}

/*************PROFILE.JS:MEDIA-QUERIES-END***************/
/*************404.HTML:STYLES************/
.error-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}
.error-banner {
   background-color: #501069;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.error-banner h1 {
    font-size: 2rem;
}
.centered {
    position: absolute;
    top: 37%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
  }
.error-banner p {
    font-size: 1rem;
}
#img {
    width: 100%;
    height: auto;
  }
#parallax_wrapper {
    position: relative;
    z-index: 0;
  }
  #parallax_field {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 380px;
    width: 100%;
  }
  #parallax_illustration {
    display: block;
    margin: 0 auto;
    width: 940px;
    height: 380px;
    position: relative;
    overflow: hidden;
  }
  #parallax_illustration #parallax_sign {
    position: absolute;
    top: 25px;
    left: 582px;
    z-index: 10;
  }
  #parallax_illustration #parallax_octocat {
    position: absolute;
    top: 66px;
    left: 431px;
    z-index: 8;
  }
  #parallax_illustration #parallax_error_text {
    display: block;
    width: 400px;
    height: 144px;
    position: absolute;
    top: 165px;
    left: 152px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    background-image: "";
    background-repeat: no-repeat;
    padding: 64px 0 0 106px;
    color: #183913;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
    z-index: 5;
  }
  #parallax_field #parallax_bg {
    overflow: hidden;
    width: 105%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
  }
  #parallax_illustration #parallax_error_text span {
    display: block;
    margin-left: 12px;
  }
/*************404.HTML:STYLES************/