/*************GLOBAL:STYLES************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/voi5bdk.css");
:root {
    --primary-green: #7ADA46;
    --grey1: #F8F9FC;
    --grey2: #E6E7EA;
    --secondary-purple: #9200BB;
    --hero-green: #2FB65E;
    --ultra-dark: #101010;
    --cactus-green-1: #00720B;
    --cactus-purple-1: #9200bb74;
    --cactus-purple-highlight: #a518cc;
    --dark-mode: #232323;
    --alt-dark-mode: #1D1D1D;
    --cactus-purple-alt: #4D1370;
    --alt-light-purple: #C582FE;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;

}
html, body {
    height: 100vh;
}

html::-webkit-scrollbar {
    display: none;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    background-color: var(--dark-mode);
}

.app-content-container {
    display: flex;
    height: calc(100vh - 64px);
    background-color: var(--dark-mode);
    min-width: 100vw;
}

.thread-wrapper {
    height: 100%;
    background-color: var(--dark-mode);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

/*************GLOBAL:STYLES************/

/*************SPLASHPAGE:STYLES************/ 
.splash-page-header {
    padding-top: 1rem;
    background-color: black;
    display: flex;
    justify-content: right;
}

.splash-page-header button {
    position: relative;
    z-index: 2;
    background-color: var(--cactus-green-1);
    color: white;
    font-size: 1.2rem;
    height: 2rem;
    border: none;
    width: 6rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow linear 0.3s;
}

.splash-page-header button:hover {
    box-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white, -1px -1px 3px white;
}

.splash-page-content {
    padding-top: 3rem;
    background-color: black;
    color: white;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash-page-content h1 {
    font-size: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
}


.splash-page-content p {
    width: 100%;
    padding: 10px 25px 10px 25px;
    font-size: 1.3rem;
    max-width: 40rem;
}


.splash-page-sign-up-button {
    position: relative;
    z-index: 2;
    background-color: var(--cactus-green-1);
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    border: none;
    width: 12rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow linear 0.3s;
}

.splash-page-sign-up-button:hover {
    box-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white, -1px -1px 3px white;
}

.splash-page-download-button {
    z-index: 100;
    background-color: var(--cactus-green-1);
    font-size: .875rem;
    font-weight: 700;
    height: 3rem;
    border: none;
    width: 16rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.splash-page-video {
    /* height: 30rem; */
    object-position: right;
    /* height: 100%; */
    width: 100vw;
    object-fit: cover;
    height: 100vh;
    /* width: 100%; */
}

.splash-page-content-overflow-wrapper {
    overflow: hidden;
    background-color: black;
    height: 100vh;
}

.shift-content-wrapper {
    position: absolute;
    left: 0;
    right: 0;
}

.splash-page-content {
    width: 100%;
    background-color: initial;
    padding-top: 30vh;
}
.splash-page-header {
    width: 100%;
    background-color: initial;
}


/*************SPLASHPAGE:STYLES************/ 
/*************SPLASHPAGE:MEDIA-QUERIES************/

@media only screen and (min-width: 600px) {

    .app-content-container {
        display: flex;
        /* height: calc(100vh - 91px); */
    }
    
    .splash-page-content {
        text-align: center;
    }

    /* .splash-page-video {
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    .splash-page-content {
        padding-bottom: 0rem;
    } */

}

@media only screen and (min-width: 796px) {

    
    .splash-page-content-overflow-wrapper {
        overflow: hidden;
        background-color: black;
    }
    .shift-content-wrapper {
        position: absolute;
        left: 0;
        right: 0;
    }

    .splash-page-content {
        width: 100%;
        background-color: initial;
    }

    .splash-page-header {
        width: 100%;
        background-color: initial;
    }

    .splash-page-video {
        width: 100vw;
        object-fit: cover;
        height: 100vh;
    }
    
}

/*************SPLASHPAGE:MEDIA-QUERIES************/ 
/******************NAVBAR*******************/

.logo {
    margin-left: 1rem;
    margin-top: 1rem;
    font-family: aglet-slab, sans-serif;
    font-weight: 800;
    color: white;
    font-size: 21px;
}

.loading-icon-box {
    width: calc(100% - 3rem);
    height: calc(100% - 5.7rem);
    position: absolute;
    right: 0;
    display: none;
    place-items: center;
    background-color: var(--cactus-purple-1);
    z-index: 10000;
}

.MuiPopover-paper {
    background-color: var(--ultra-dark);
    border-radius: 10px !important;
}

.MuiList-root {
    background-color: var(--ultra-dark);
    padding: 0 !important;
    border-radius: 10px !important;
    border: 2px solid white;
}

.MuiMenuItem-root {
    background-color: var(--dark-mode) !important;
}

.MuiMenuItem-root:nth-of-type(1) {
    border-radius: 10px 10px 0px 0px !important;
}

.MuiMenuItem-root:nth-of-type(3) {
    border-radius: 0px 0px 10px 10px !important;
}

.MuiMenuItem-root:hover {
    background-color: var(--cactus-purple-highlight) !important;
}

.MuiTypography-root a {
    color: white !important;
    text-decoration: none !important;
}

@keyframes mybounce{
    0% {
        transform: rotateZ(0deg); 
        opacity: 100%;
    }

    50% {
        transform: rotateZ(180deg);
        opacity: 50%;
    }

    100% {
        transform: rotateZ(360deg);
        opacity: 25%;
    }
}

.loading-icon {
    width: 80%;
    max-width: 400px;
    animation: mybounce 1s linear infinite;
}

/******************NABBAR*******************/
/*************LOGIN.HTML:STYLES************/

.error-login {
    color: red;
    text-align: center;
    margin-top: 30px;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.login-form-section {
    width: 100%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: 100vh;
    background-color: var(--ultra-dark);
}

.login-form-section h3 {
    padding-top: 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
}

/* .login-banner-mobile { */
    /* height: 4rem; */
    /* background-color: #B945FF; */
    /* background-color: var(--cactus-purple-1); */
/* } */

.login-form {
    max-width: 70%;
}
.login-form label {
    margin-left: 0;
    font-size: 1rem;
    display: block;
    color: white;
}

.login-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
    background-color: var(--ultra-dark);
    border: 1px solid white;
    color: white;
    padding-left: 6px;
    margin-top: 15px;
}

.login-form input::placeholder {
    color: white;
    padding-left: 6px;
}

.login-form input:hover {
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}

.login-form a {
    display: block;
    text-align: center;
    width: 150px;
    font-size: 16px;
    background-color: var(--cactus-purple-alt);
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid white;
}

.login-form a:hover {
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white, -1px -1px 3px white;
}

.login-form button:hover {
    box-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white, -1px -1px 3px white;
    cursor: pointer;
}

.login-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: var(--cactus-purple-alt);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: box-shadow 0.6s linear;
}

.login-form p {
    margin-top: 2rem;
    text-align: left;
    font-size: .875rem;
    display: inline-block;
    color: white;
}

.login-banner {
    background-color: var(--cactus-purple-alt);
    color: white;
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-banner h1 {
    font-size: 2rem;
}
.login-banner p {
    font-size: 1rem;
}

.login-banner-img-container {
    display: flex;
    justify-content: flex-end;
    max-height: 100%;
}

.login-banner-illustration {
    width: 100%;
    max-width: 600px;
}

.success-msg {
    color: white;
    margin-right: 5px;
}

/*************LOGIN.HTML:STYLES************/


@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}

.login-page-body {
    background-color: var(--ultra-dark);
}


@media only screen and (min-width: 776px) {

    .login-banner-mobile {
        display: none;
    }

    .login-page-body {
        display:flex;
    }

    .login-form-section {
        padding-top: 2rem;
        width: 50%;
        max-width: 22rem;
    }
    .login-banner {
        width: 100%;
    }
    
}

/*************SIGNUP.HTML:STYLES************/

.signup-page {
    height: 100vh;
}

/* .sign-up-header { */
    /* background-color: var(--cactus-green-1); */
    /* height: 4rem; */
    /* width: 100%; */
/* } */

.signup-form-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark-mode);
    height: 100%;
    align-items: center;
    text-align: center;
}

.signup-form-section h3 {
    font-size: 7vw;
    color: white;
    margin-bottom: 25px;
}

/* .signup-footer {
    height: 4rem;
    background-color: var(--cactus-purple-1);
} */

.signup-form {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.signup-form label {
    margin-left: 0;
    font-size: 1rem;
    display: block;
    color: white;
}

.signup-form input {
    display: block;
    width: 100%;
    height: 2.5rem;
    background-color: var(--ultra-dark);
    border: 2px solid white;
    color: white;
    margin-top: 15px;
}

.signup-form input::placeholder {
    color: var(--alt-light-purple);
    padding-left: 8px;
}

.signup-form a {
    display: inline;
}

.signup-form button {
    display: inline-block;
    margin-top: 1.5rem;
    background-color: var(--cactus-purple-alt);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    width: 8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 2px solid white;
    transition: box-shadow 0.4s linear;
}

.signup-form button:hover {
    box-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white, -1px -1px 3px white;
    cursor: pointer;
}

.signup-form div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.signup-form a {
    font-size: .875rem;
    display: inline-block;
}

.many-cacti-illustration {
    width: 15rem;
    margin-top: 25px;
}

.center-signup-form {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

@media screen and (min-width: 500px) {
    
    .signup-form-section h3 {
        font-size: 35px;
    }

    .signup-form {
        width: 466px;
    }

    .many-cacti-illustration {
        width: 48vw;
    }
}

@media screen and (min-width: 650px) {

    .many-cacti-illustration {
        width: 312px;
    }
}

@media screen and (min-width: 950px) {

    .center-signup-form {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .many-cacti-illustration {
        max-width: 400px;
        width: 100%;
        margin-left: 10vw;
    }
}

/*************LOGIN.HTML:STYLES************/


@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}

/********HEADER:START************/

header {
  background-color: var(--primary-green);
}

.mobile-nav img {
  width: 2rem;
  margin-right: .25rem;
}

/********SIDEBAR.JS:START************/

.aside {
    display: flex;
    height: 100%;
    background-color: var(--ultra-dark);
    width: 3rem;
    transition: min-width 0.5s linear;
}

.sticky-dash {
    height: 100%;
    background-color: var(--ultra-dark);
    width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    min-width: 3rem;
    margin-right: 8px;
    padding-left: 2px;
    margin-left: 0px;
}

.sticky-dash ul {
    margin-top: .5rem;
    list-style-type: none;
    padding-left: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.sticky-dash ul li {
    margin-top: .5rem;
}

.sticky-dash li img {
    cursor: pointer;
}

.sidebar {
    position: absolute;
    left: -100%;
    background-color: var(--ultra-dark);
    transition: left 0.5s linear;
    padding-top: 2rem;

    height: calc(100vh - 67px);
    width: calc(100% - 2.5rem);
    overflow: scroll;
    padding-left: 20px;
    padding-right: 20px;
    z-index:2;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.right-shelf::-webkit-scrollbar {
    display: none;
}

.main-sidebar-navs {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 5px;
}

.main-sidebar-navs a, .main-sidebar-navs div {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    cursor: pointer;
    text-decoration: none;
}

.main-sidebar-navs a:hover {
    background-color: rgba(255, 255, 255, 0.068);
    cursor: pointer;
    text-decoration: none;
}

.main-sidebar-navs div:hover {
    background-color: rgba(255, 255, 255, 0.068);
    cursor: pointer;
    text-decoration: none;
}

.main-sidebar-navs a img, .main-sidebar-navs div img {
    margin-right: 15px;
}

.main-sidebar-navs a h3, .main-sidebar-navs div h3 {
    text-decoration: none;
}

.sidebar h3 {
    font-size: 1.375rem;
    font-weight: 600;
    margin-left: .5rem;
    color: var(--grey1);
    padding-top: 10px;
}

.sidebar-add-icon {
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

.sidebar ul {
  border-top: 1px solid var(--grey2);
  list-style: none;
  padding-left: 0;
  background-color: var(--ultra-dark);
}

.sidebar li a {
  font-size: .875rem;
  color: var(--grey1);
  text-decoration: none;
}

.sidebar li {
  font-size: .875rem;
  padding-left: .5rem;
  padding-top: .65rem;
  padding-bottom: .65rem;
  border-bottom: 1px solid var(--grey2);
  color: black;
  text-decoration: none;
}

.thread-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 10px;
    height: 60px;
}

.thread-sidebar-header:hover {
    background-color: rgba(255, 255, 255, 0.068);
}

.thread-sidebar-header div {
    display: flex;
    align-items: center;
}

.thread-sidebar-header img {
    height: 30px;
    width: 30px;
}

.thread-sidebar-header img:nth-of-type(2) {
    margin-left: 10px;
    cursor: pointer;
}

#threads-dropdown {
    display: none;
}

#threads-dropdown li:hover {
    background-color: var(--hero-green);
    cursor: pointer;
}

#events-dropdown {
    display: none;
}

#events-dropdown li:hover {
    background-color: var(--hero-green);
    cursor: pointer;
}

/*************FOOTER:START************/

footer {
    /* height: 27px; */
    background-color: var(--cactus-green-1);
}

/*************THREEDDISPLAY:START****************/

.thread-content-container {
    padding-left: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.thread-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thread-top img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.thread-title-container {
    display: flex;
    align-items: center;
}

.thread-title-container img {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.thread-header h3 {
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    color: var(--grey1);
}

.thread-header p {
    margin-left: 1rem;
    font-size: 1rem;
    color: var(--grey1);
}

.chats-container {
    height: 60vh;
    overflow: auto;
    padding-bottom: 10px;
}

.chats-container::-webkit-scrollbar {
    display: none;
}

.chat {
    line-height: 1.1rem;
    font-size: .75rem;
    background-color: var(--ultra-dark);
    color: white;
    padding: 1rem;
    margin-top: .5rem;
    margin-left: 2%;
    width: 96%;
    margin-right: 2%;
    transition: background-color 0.25s ease-in;
}

.chat:hover {
    box-shadow: -1px -1px 6px white;
    background-color: var(--alt-dark-mode);
}

.chat p {
    font-size: 1rem;
    margin: 15px 0px;
    width: 100%;
    padding: 15px;
    border: 1px solid white;
}

.chat-name {
    font-size: 14px;
    margin-top: 1rem;
    font-weight: 500;
    pointer-events: none;
    color: var(--alt-light-purple);
}
.chat-date {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-left: 1rem;
    pointer-events: none;
    color: var(--alt-light-purple);
}

.edit-span {
    font-style: italic;
    font-size: .75rem;
    color: white;
    margin-left: 1rem;
    pointer-events: none;
    color: var(--alt-light-purple);
}

.post-options {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.post-bar {
    display: flex;
    justify-content: space-between;
}

.comments-chip {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 12px 4px 12px 0px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.comments-chip div {
    border: 1px solid white;
    width: 25px;
    height: 25px;
    display: flex;
    padding: 2px 2px 2px 2px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    margin-right: 10px;
}

.comments-chip p {
    margin: 0px 10px 0px 10px;
    color: var(--grey1);
}

.comments-chip a {
    text-decoration: none !important;
    color: white;
}

.comments-chip a:hover {
    color: var(--alt-light-purple);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    background-color: var(--ultra-dark);
    min-width: 60px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .chat-option-dropdown {
    min-width: 160px;
}

.dropdown .thread-dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    background-color: var(--ultra-dark);
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .event-dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20px;
    background-color: var(--ultra-dark);
    min-width: 60px;
    /* overflow: auto; */
    /* min-height: 100%; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.thread-dropdown-content div {
    text-align: center;
    color: white;
    padding: 8px 12px;
    border: 1px solid white;
    text-decoration: none;
    display: block;
    transition: border background-color 0.7s linear;
}

.dropdown-content div {
    text-align: center;
    color: white;
    padding: 8px 12px;
    border: 1px solid white;
    text-decoration: none;
    display: block;
    transition: border background-color 0.7s linear;
}

.event-dropdown-content div {
    text-align: center;
    color: white;
    padding: 8px 12px;
    border: 1px solid white;
    background-color: var(--alt-dark-mode);
    text-decoration: none;
    display: block;
    transition: border background-color 0.7s linear;
}

.dropdown-content div:nth-of-type(1):hover, .thread-dropdown-content div:nth-of-type(1):hover, .event-dropdown-content div:nth-of-type(1):hover,
.event-dropdown-content div:nth-of-type(2):hover {
    background-color: var(--hero-green);
    border: 1px solid white;
    cursor: pointer;
}

.dropdown-content div:nth-of-type(2):hover, .thread-dropdown-content div:nth-of-type(2):hover, .event-dropdown-content div:nth-of-type(3):hover {
    background-color: red;
    border: 1px solid white;
    cursor: pointer;
}

.subthread-title {
    font-size: .65rem;
    margin-left: 1rem;
    color: white;
}
.subthread {
    color: white;
}

.subthread p {
    background-color: var(--cactus-purple-alt);
}

.subthread-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    text-decoration: none;
}

.chat-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
    width: 96%;
    margin-right: 2%;
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;
    font-size: .75rem !important;
    position: sticky;
    z-index: 1;
    background-color: var(--ultra-dark);
}

.chat-input input {
    padding: .5rem;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid white;
    color: white;
    background-color: var(--alt-dark-mode);
    word-wrap: break-word;
}

.chat-input textarea {
    padding: .5rem;
    font-size: 1rem;
    margin-top: 5px;
    min-height: 70px;
    margin-bottom: 10px;
    border: 2px solid white;
    color: white;
    background-color: var(--alt-dark-mode);
    word-wrap: break-word;
    resize: none;
}

.chat-input textarea::-webkit-scrollbar {
    display: none;
}

.chat-input input:focus {
    border-radius: 0px !important;
}
.chat-input-buttons {
    display: flex;
    justify-content: end;
}

.chat-input-buttons button {
    border: none;
    font-size: .9rem;
    color: white;
    font-weight: 600;
    margin: 6px 2px 2px 0px;
    padding: 5px 15px 5px 15px;
    background-color: var(--hero-green);
    border: 2px solid white;
    cursor: pointer;
}

.sub-thread-form-header {
    border-bottom: 1px grey solid;
}

.chat-input-buttons button:hover {
    box-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white, -1px -1px 3px white;
}

/*************THREEDDISPLAY-MEDIA-QUERIES:START****************/

@media only screen and (min-width: 680px) {

    .sidebar {
        max-width: 20rem;
    }
    .thread-wrapper {
        position: static;
        width: 100%;
    }
}

/*************RIGHTSHELF:START****************/

.right-shelf {
    display: block;
    background-color: var(--grey1);
    width: 5rem !important;
    min-width: 5rem;
    height: 100%;
    padding-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--ultra-dark);
}

.community-div, all-friends-div {
    margin-bottom: 15px;
}

.friend-requests-div {
    margin-top: 30px;
}

.sent-requests-div {
    margin-top: 15px;
}

.invites-received-div {
    margin-top: 15px;
}

.friend-request-chip {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 16px 8px 16px 4px;
    border: 2px solid white;
    background-color: var(--cactus-purple-1);
    cursor: pointer;
    color: white;
}

.friend-request-chip div {
    background-color: var(--grey1);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex !important;
    padding-top: 1px;
    justify-content: center;
    align-items: center;
    color: var(--ultra-dark);
    font-weight: 700;
    margin-left: 5px;
}

.right-shelf h3 {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--grey1);
}

.right-shelf ul {
    margin-top: 1.1rem;
    list-style: none;
    padding-left: 0;
}
.right-shelf li {
    margin-top: .75rem;
    font-size: .75rem;
    width: 100%;
    padding-right: 15px;
}

.right-shelf li:hover {
    cursor: pointer;
}

.friend-chips {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
    margin-right: 5px;
    height: 35px;
    width: 100%;
    border-radius: 15px;
    background-color: transparent;
    border: none;
}

.friend-chips:hover {
    background-color: var(--hero-green);
}

.right-shelf ul a {
    text-decoration: none;
}

.friend-chips p {
    height: 25px;
    margin: 0;
    color: var(--grey1);
}

.friend-pic {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    background-color: var(--grey1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend-chips:hover {
    cursor: pointer;
}

.user-search-result {
    list-style: none;
    padding: 25px 0px 0px 25px;
}

/*************RIGHT-SHELF:END****************/
/*************THREAD-DISPLAY-MEDIA-QUERIES:START****************/

@media only screen and (max-width: 650px) {
    
    .right-shelf div {
        display: none;
    }

}

/*************PROFILE.JS:START****************/

.profile-header {
    margin-top: 2rem;
}
.profile-header h3 {
    font-size: 2rem;
    color: white;
    margin: 10px 20px 20px 20px;
}

.profile-title {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.profile-top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.join-date {
    color: white;
    font-size: .75rem;
}

.profile-wrapper {
    display: flex;
    justify-content: center;
    width: calc(100vw - 128px);
    height: 100%;
    background-color: var(--alt-dark-mode);
}

.user-bio {
    color: white;
    background-color: var(--cactus-purple-alt);
    padding: 15px;
    border: 2px solid white;
    margin-top: .75rem;
    margin-bottom: 1.25rem;
    font-size: .875rem;
}

.user-bio-box {
    display: flex;
    align-items: center;
}

.profile-content-container {
    width: calc(100% - 2.5rem);
    /* max-width: 40rem; */
    height: 100%;
    overflow: scroll;
}

.profile-content-container::-webkit-scrollbar {
    display: none;
}

.placeholder-img {
    width: 10rem;
    height: 10rem;
    background-color: lightblue;
}

.user-info {
    margin-top: 1rem;
}

.user-name {
    font-size: 1.25rem;
    font-weight: 600;
}

.tech-stack {
    margin-top: .75rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.tech-stack ul {
    padding-left: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}
.tech-stack ul li {

    font-size: .75rem;
    display: inline-block;
}

.MuiButtonBase-root {
    background-color: var(--cactus-purple-1) !important;
}

.tech-chip {
    height: 30px;
    margin: 2px 0px 6px 8px;
    border: 1px solid white;
    padding: 0px 15px 0px 15px;
    min-width: 150px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    background-color: var(--cactus-purple-alt);
}

.tech-stack div {
    margin-right: 20px;
}

.tech-stack-icons {
    padding: 15px;
}

.tech-btns-div {
    display: flex;
    width: 100%;
}

.profile-edit-container {
    display: flex;
    justify-content: space-between;
}

.profile-pic-div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 50%;
}

.profile-pic-div img {
    max-width: 200px;
    max-height: 200px;
    border: 2px solid white;
    width:100%;
    border-radius: 50%;
}

#editImage {
    border: none;
    width: 30px;
}

.profile-bio-block {
    display: flex;
    flex-direction: column;
}

.profile-bio-section {
    margin: 20px;
    margin-left: 30px;
}

.profile-bio-section h5 {
    color: white;
}

.edit-profile-pic {
    padding: 5px;
    border-radius: 50%; 
    cursor: pointer;
}

/*************PROFILE.JS:MEDIA-QUERIES-START***************/

@media screen and (min-width: 715px) {
    .profile-bio-block {
        flex-direction: row;
    }

    .profile-top {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 10px;
    }

    .tech-stack ul {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }

    .profile-info-links {
        justify-content: left !important;
        margin-left: 10px;
    }

    .profile-info-links div {
        margin: 15px;
    }
}

.right-shelf div {
    display: none;
}

/*************404.HTML:STYLES************/
.error-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}
.error-banner {
    background-color: #501069;
    color: white;
    height: 100%;
    padding: 3rem;
}
.error-banner h1 {
    font-size: 2rem;
}
.centered {
    position: absolute;
    top: 37%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
}
.error-banner p {
    font-size: 1rem;
}
#img {
    width: 100%;
    object-fit: cover;
    height: auto;
}
#parallax_wrapper {
    position: relative;
    z-index: 0;
    object-fit: cover;
}
#parallax_field {
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 380px;
    width: 100%;
}
#parallax_illustration {
    display: block;
    margin: auto;
    width: 100%;
    height: 750px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}
#parallax_field  {
    overflow: hidden;
    width: 105%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
}

/*************MODAL:STYLES************/

.exit-modal-box {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--cactus-purple-1);
}

.exit-modal {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.exit-modal-box:hover {
    background-color: var(--cactus-purple-highlight);
    cursor: pointer;
}

.modal-header {
    padding: 1rem;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
}
.modal-form {
    padding-bottom: 2rem;
    background-color: var(--ultra-dark);
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal-header h4 {
    margin-top: .5rem;
    font-size: 1.5rem;
}
.modal-form label {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    margin-left: 5%;
    width: 90%;
}
.modal-form input {
    display: block;
    width: 90%;
    margin-left: 5%;
    height: 2rem;
    background-color: var(--cactus-purple-1);
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    padding-left: 6px;
}
.modal-form input::placeholder {
    font-size: .75rem;
}

.modal-form input:hover {
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}

.modal-list {
    list-style: none;
    margin-top: 10px;
    padding-left: 0px;
}

#modal-friends {
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}


.modal-request {
    display: flex;
    width: 100%;
}

.modal-request div {
    margin-left: 20px;
    height: 30px;
    display: flex;
    align-items: center;
}

.modal-request div button {
    margin-top: 5px;
    height: 30px;
    border-radius: 0px;
    border: 2px solid white;
    margin-right: 10px;
    width: 80px;
    background-color: var(--ultra-dark);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s;
}

.modal-request div button:nth-of-type(1):hover {
    background-color: var(--cactus-green-1);
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}

.modal-request div button:nth-of-type(2):hover {
    background-color: rgba(255, 0, 0, 0.596);
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}


.modal-textarea {
    display: block;
    width: 90%;
    margin-left: 5%;
    min-height: 5rem;
    background-color: var(--cactus-purple-1);
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    padding-left: 6px;
}

.modal-button {
    display: block;
    margin-top: 1.5rem;
    background-color: var(--cactus-green-1);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    width: 6rem;
    margin-left: 5%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
    transition: box-shadow 0.3s linear;
}

.modal-button:hover {
    box-shadow: 2px 2px 3px white, 2px -2px 3px white, -2px 2px 3px white, -2px -2px 3px white;
    cursor: pointer;
}

.modal-title {
    margin: 15px 0px;
    font-size: 24px;
    font-weight: 500;
}

.modal-list-item {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
    width: 100%;
}

.modal-list-text {
    margin-top: 15px;
    /* padding-left: 20px; */
}

.modal-left-top {
    display: flex;
    flex-direction: column;
}

.modal-right-bottom {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal-right-bottom .accept-button {
    background-color: var(--hero-green);
    color: white;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border: 1px solid white;
    transition: box-shadow 0.4s linear;
}

.modal-right-bottom .reject-button {
    background-color: red;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    padding: 0.5rem 0.75rem;
    transition: box-shadow 0.4s linear;
}

.modal-right-bottom .accept-button:hover {
    box-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white, -1px -1px 3px white;
    cursor: pointer;
}

.modal-right-bottom .reject-button:hover {
    box-shadow: 3px 3px 3px red, 3px -3px 3px red, -3px 3px 3px red, -3px -3px 3px red;
    cursor: pointer;
}

.invite-modal-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.invite-modal-list {
    background-color: var(--alt-dark-mode);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invite-modal-list button {
    max-width: 200px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.friend-options-div {
    max-width: 250px;
}

.remove-friend-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.596);
    border: none;
    margin-left: 5%;
    width: 90%;
    height: 60px;
    padding: .25rem;
    border-radius: .25rem;
    transition: box-shadow 0.5s linear;
}

.remove-friend-btn:hover {
    box-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white, -1px -1px 3px white;
    cursor: pointer;
}

.send-request-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1.5rem;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #76D7D1;
    border: none;
    width: 100%;
    height: 60px;
    padding: .5rem;
    border-radius: .25rem;
    transition: box-shadow 0.5s linear;
}


.send-request-btn:hover {
    box-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white, -1px -1px 3px white;
    cursor: pointer;
}

.search-users-btn {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--cactus-purple-1);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    width: 12rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
    transition: box-shadow 0.5s linear;
}

.search-users-btn:hover {
    box-shadow: 1px 1px 3px white, 1px -1px 3px white, -1px 1px 3px white, -1px -1px 3px white;
    cursor: pointer;
}


.editable:empty:before {
    content: attr(data-placeholder);
}

/*******************EVENT-DISPLAY*******************/

.event-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--alt-dark-mode);
}

.event-card {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: var(--dark-mode);
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    background-color: var(--alt-dark-mode);
}

.event-card::-webkit-scrollbar {
    display: none;
}

.event-img-div {
    display: flex;
    justify-content: center;
    /* background-color: #76D7D1; */
    margin: 20px;
}

.event-main-div {
    background-color: var(--ultra-dark);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
}

.event-img {
    max-width: 80%;
    margin: 20px;
}

.event-meta {
    margin: 20px;
}

.event-title {
    color: white;
}

.event-host {
    color: var(--grey1);
    font-size: 18px;
}

.event-type {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.event-type p {
    color: var(--grey1);
    margin-right: 10px;
    padding-top: 15px;
}

.event-type button {
    background-color: var(--cactus-purple-highlight);
    border: 2px solid white;
    color: white;
    font-weight: 600;
    padding: 6px;
}

.event-option-div {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.event-option-div div {
    display: flex;
    height: 30px;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-left: 10vw;
    margin-top: 10px;
}

.event-dropdown-content div {
    width: 140px;
    margin-right: 15px;
}

.event-more div:nth-of-type(1) {
    margin: 0;
}

.event-update-option {
    margin: 0 !important;
}

/* .event-more .dropdown {
    min-height: 60px;
    width: 100px;
}

.event-more .dropdown .dropdown-content {
    height: 100%;
    overflow: hidden;
    display: none;
    flex-direction: column;
    right: 20vw;
    position: relative;
} */

/* .event-more .dropdown .dropdown-content .div {
    margin: 0 !important;
    padding: 0 !important;
} */

.event-delete {
    margin: 0 !important;
    width: 100%;
}

/* .event-update-option {
    width: 100%;
} */

.event-inperson img {
    margin-right: 10px;
}

.event-attend img {
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: box-shadow 0.5s linear;
}

.event-more img {
    margin-right: 10px;
    cursor: pointer;
    transition: box-shadow 0.5s linear;
}

.event-attend img:hover {
    box-shadow: 1px 1px 3px white, -1px 1px 3px white, 1px -1px 3px white, -1px -1px 3px white, inset 2px 2px 2px white, inset -2px 2px 2px white, inset 2px -2px 2px white, inset -2px -2px 2px white;
}

.event-more img:hover {
    box-shadow: 1px 1px 3px white, -1px 1px 3px white, 1px -1px 3px white, -1px -1px 3px white, inset 2px 2px 2px white, inset -2px 2px 2px white, inset 2px -2px 2px white, inset -2px -2px 2px white;
}

.event-option-div p {
    padding-top: 15px;
    color: var(--grey1);
}

.event-desc-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: var(--alt-dark-mode);
}

.event-description {
    width: 90%;
    font-size: 16px;
    margin-top: 15px;
}

.event-description span {
    margin-right: 5px;
    font-weight: 500;
}

.event-secondary {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.event-datetime {
    color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.event-start, .event-end {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.event-start div, .event-end div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-start span, .event-end span {
    display: block;
    margin-right: 10px;
    color: var(--alt-light-purple);
    font-weight: 600;
}

.event-start div p, .event-end div p {
    font-size: 14px;
    margin: 0;
}

.event-other-div {
    width: 100%;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--alt-dark-mode);
}

.event-location-div {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

.event-location span {
    margin-right: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.event-location {
    width: 90%;
    padding-bottom: 20px;
}

.event-virtual {
    width: 90%;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none !important;
    color: var(--alt-light-purple);
}

.event-virtual:hover {
    color: var(--secondary-purple);
}

.event-attendees {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--cactus-green-1);
}

.event-attendees h5 {
    margin: 15px;
    font-size: 1.25rem;
    font-weight: 600;
}

.event-attendees-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 90%;
    padding-bottom: 20px;
}

.event-attendee {
    display: flex;
    height: 40px;
    align-items: center;
}

.event-attendee img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.event-attendee p {
    margin-right: 5px;
    padding-top: 16px;
    font-size: 14px;
}

.event-creation-info p{
    padding-top: 15px;
    font-size: 14px;
    text-align: center;
    width: 90%;
}

.event-actions {
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: right;
    width: 90%;
}

.event-actions button {
    color: #76D7D1;
    background-color: transparent;
    border: none;
    padding: 4px 8px;
    margin-right: 7px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.5s;
}

.event-actions button:hover {
    color: white;
}

.event-comment {
    width: 100%;
    min-height: 400px;
    overflow-y: scroll;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-chat {
    width: 90%;
    margin-right: 2%;
}

.event-comment::-webkit-scrollbar {
    display: none;
}

.event-comment-input {
    margin-top: 30px;
    width: 90%;
    margin-right: 2%;
}

.edit-event-comment-form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-event-comment-form div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-event-comment-form label {
    margin-right: 10px;
    margin-bottom: 12px;
    color: white;
}

.edit-event-comment-form input {
    padding: 5px;
    color: white;
    background-color: var(--ultra-dark);
    border: 2px solid white;
}

.edit-event-comment-form input:hover {
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}

.edit-event-comment-form button {
    padding: 8px;
    margin-top: 10px;
    width: 100px;
    font-weight: 600;
    background-color: var(--cactus-green-1);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

.edit-event-comment-form button:hover {
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
    background-color: var(--hero-green);
    cursor: pointer;
}

.event-edit-form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-edit-form label {
    margin-right: 10px;
    margin-bottom: 12px;
    color: white;
}

.event-edit-form input {
    padding: 5px;
    color: white;
    background-color: var(--ultra-dark);
    border: 2px solid white;
}

.event-edit-form input:hover {
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}

.event-edit-form button {
    padding: 8px;
    margin-top: 10px;
    width: 150px;
    font-weight: 600;
    background-color: var(--cactus-green-1);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

.event-edit-form #in_person {
    height: 18px;
    width: 18px;
    margin-left: 6px;
}

.event-edit-form button:hover {
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
    background-color: var(--hero-green);
    cursor: pointer;
}

.event-edit-inputs div {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.event-creation-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-creation-form label {
    margin-right: 10px;
    margin-bottom: 12px;
    color: white;
}

.event-creation-form input {
    padding: 5px;
    color: white;
    background-color: var(--ultra-dark);
    border: 2px solid white;
}

.event-creation-form input:hover {
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}

.event-creation-form button {
    padding: 8px;
    margin-top: 10px;
    width: 150px;
    font-weight: 600;
    background-color: var(--cactus-green-1);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

.event-creation-form #in_person, .event-creation-form #private {
    height: 16px;
    width: 16px;
    margin-left: 6px;
}

.event-creation-form button:hover {
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
    background-color: var(--hero-green);
    cursor: pointer;
}

.event-creation-inputs div {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.event-main-top {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 750px) {
    
    .event-main-top {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
    }

    .event-img-div {
        max-width: 480px;
    }

    .event-secondary {
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .event-start div, .event-end div {
        flex-direction: row;
    }

    .event-start div p, .event-end div p {
        width: 80px;
    }

    .event-option-div {
        align-items: center;
        display: flex;
        margin-top: 15px;
    }

    .event-meta {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 940px) {

    .event-main-div {
        flex-direction: row;
    }

    .event-option-div {
        align-items: flex-end;
        margin-left: 0;
    }

    .event-img {
        max-width: 300px;
    }
}

.post-bottom {
    display: flex;
    justify-content: space-between;
}

.reaction-bar {
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .post-options {
        flex-direction: column;
    }

    .reaction-bar {
        margin-left: 0px;
    }
}

.emoji-box {
    margin-top: 5px;
    display: flex;
    align-items: center;
    background-color: var(--dark-mode);
    margin-right: 5px;
    padding: 5px;
    height: 20px;
    border-radius: 15px;
    /* border: 1px solid white; */
    box-shadow: 1px 1px 2px white, -1px 1px 2px white;
}

.emoji-count {
    font-weight: 600;
    color: white;
    /* padding-bottom: 5px; */
    margin: 0px 5px 0px 5px;
    font-size: 16px;
}

.add-emoji {
    margin-right: 20px;
    padding: 0;
    width: 30px;
    height: 30px;
}

.chat-create-div {
    padding: 10px;
}

.chat-create-main {
    padding-left: 10px;
    padding-right: 10px;
}

.chat-create-main h2 {
    font-size: 24px;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}

.chat-create-main .all-friends-div h3 {
    color: white;
}

.chat-create-main .all-friends-div ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.selected-chat-friends h3 {
    color: white;
}

.chat-create-actions {
    padding: 10px;
}

.chat-create-actions .cancel-button {
    background-color: red;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    font-weight: 600;
    border: 1px solid white;
    transition: box-shadow 0.4s linear;
}

.chat-create-actions .cancel-button:hover {
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}

.chat-create-actions .create-button {
    background-color: var(--cactus-green-1);
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    margin-left: 20px;
    font-weight: 600;
    border: 1px solid white;
    transition: box-shadow 0.4s linear;
}

.chat-create-actions .create-button:disabled {
    display: none;
}

.chat-create-actions .create-button:hover {
    box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}

#chats-dropdown {
    display: none;
}

.chat-chips {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--alt-dark-mode);
    border: none;
    padding: 5px;
    justify-content: space-evenly;
    align-items: flex-end;
    cursor: pointer;
}

.chat-chips:hover {
    background-color: var(--hero-green);
}

.chat-chip-div {
    display: flex;
    width: 100%;
    padding: 2px;
    justify-content: center;
    align-items: center;
    color: white;
}

.chat-chip-img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.chat-display {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--ultra-dark);
    height: calc(100vh - 66px);
    width: calc(100vw - 48px);
}

.chat-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    /* height: auto; */
    width: 90%;
}

.chat-banner h2 {
    color: white;
    padding-top: 40px;
    margin-bottom: 15px;
}

.chat-users-div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    /* height: 100%; */
    border-bottom: 1px solid white;
}

.chat-users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    /* height: 100%; */
}

.chat-users button {
    padding: 6px;
    font-weight: 500;
    background-color: var(--ultra-dark);
    border: 1px solid white;
    margin-left: 10px;
    color: white;
}

.chat-users-div h3 {
    color: white;
    margin-right: 10px;
    display: none;
}

.chat-messages-container {
    width: 100%;
    padding-bottom: 30px;
    min-height: calc(100vh - 436px);
    overflow: scroll;
}

.chat-messages-container::-webkit-scrollbar {
    display: none;
}

.chat-message-submit-div {
    width: 100%;
    /* padding-top: 20px; */
}

.from-user {
    padding-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    /* padding-bottom: 15px; */
}

.from-user .chat-name, .from-user .chat-date, .from-user .chat-edited {
    color: var(--hero-green);
    margin-left: 15px;
}

.chat-edited {
    font-style: italic;
    font-size: 12px;
}

.from-user .post-text {
    border: 1px solid var(--hero-green);
}

.from-other .post-text {
    border: 1px solid var(--cactus-purple-highlight);
}

.from-other {
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    /* padding-bottom: 15px; */
}

.dm-bar {
    align-items: center;
    max-height: 15px;
    height: 15px;
    padding-right: 3px;
    padding-left: 3px;
}

.chat-dots {
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.chat-title-div {
    display: flex;
    align-items: center;

}

.chat-title-div img {
    width: 30px;
    height: 10px;
    margin-left: 20px;
    margin-top: 15px;
}

.chat-title-div img:hover {
    cursor: pointer;
}


.modal-project div {
    width: 100% !important;
}

.portfolio-project-card {
    width: 100%;
    max-width: 308px;
    height: 100%;
    margin: 30px 6px;
    border: 1px solid white;
    padding: 15px;
}

.portfolio-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.portfolio-image img {
    max-width: 100%;
    max-height: 200px;
}

.portfolio-body {
    color: white;
}

.portfolio-bottom {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-projects {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.add-project-div {
    margin: 40px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-project-button {
    width: 150px;
    border: none;
    background-color: transparent;
}

.add-project-div img {
    width: 100%;
    height: 100%;
    max-width: 60px;

    border-radius: 50%;
    background-color: var(--cactus-purple-highlight);
    transition: box-shadow 0.4s linear;
}

.add-project-div img:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px white, -2px 2px 5px white, 2px -2px 5px white, -2px -2px 5px white;
}

.add-project-div p {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}

.portfolio-links div a {
    text-decoration: none;
    color: var(--alt-light-purple);
    font-size: 18px;
    font-weight: 500;
}

.portfolio-links div {
    margin-bottom: 10px;
}

.portfolio-links div a:hover {
    text-shadow: 1px 1px 1px var(--cactus-purple-highlight), 1px -1px 1px var(--cactus-purple-highlight), -1px 1px 1px var(--cactus-purple-highlight), -1px -1px 1px var(--cactus-purple-highlight);
    color:white;
}
.edit-button {
    padding: 5px 10px;
    color: white;
    background-color: var(--ultra-dark);
    font-weight: 600;
    border: 1px solid var(--hero-green);
    cursor: pointer;
}

#userProject div {
    width: 100%;
}

.modal-button-div {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.delete-button {
    background-color: red;
}

.profile-info-links {
    display: flex;
    justify-content: center;
}

.profile-info-links div {
    margin: 10px;
}

.profile-info-links div img {
    cursor: pointer;
    transition: box-shadow 0.4s linear;
    padding: 5px;
}

.profile-info-links div img:hover {
    box-shadow: 2px 2px 5px white, -2px 2px 5px white, 2px -2px 5px white, -2px -2px 5px white;
}

.dropdown-button-div {
    width: 100;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    /* max-width: 20px !important; */
    /* max-height: 20px !important; */
}

.dropdown-button-div img {
    transform: rotate(267.5deg);
    margin-left: 15px;
}

.dropdown-project-content {
    display: none;
}

.edit-profile-button img:hover {
    box-shadow: none !important;
}

#editTech {
    margin-left: 20px;
}