/*************GLOBAL:STYLES************/

/* importing default font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/voi5bdk.css");
:root {
    --primary-green: #7ADA46;
    --grey1: #F8F9FC;
    --grey2: #E6E7EA;
    --secondary-purple: #9200BB;
    --hero-green: #2FB65E;
    --ultra-dark: #101010;
    --cactus-green-1: #00720B;
    --cactus-purple-1: #9200bb74;
    --cactus-purple-highlight: #a518cc;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;

}
html, body {
    height: 100vh;
}

html::-webkit-scrollbar {
    display: none;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.app-content-container {
    display: flex;
    height: calc(100vh - 90.39px);
}

.thread-wrapper {
    display: flex; 
    height: 100%;
    justify-content: center;
    background-color: #232323;
}

/*************GLOBAL:STYLES************/

/*************SPLASHPAGE:STYLES************/ 
.splash-page-header {
    padding-top: 1rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.splash-page-header button {
    position: relative;
    z-index: 2;
    background-color: var(--primary-green);
    color: black;
    font-size: .75rem;
    height: 2rem;
    border: none;
    width: 6rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-weight: 700;
}


.splash-page-content {
    padding-top: 3rem;
    background-color: black;
    color: white;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-page-content h1 {
    font-size: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
}


.splash-page-content p {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    font-size: .875rem;
    max-width: 40rem;
}


.splash-page-sign-up-button {
    position: relative;
    z-index: 2;
    background-color: white;
    font-size: .75rem;
    height: 3rem;
    border: none;
    width: 12rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 700;
}

.splash-page-download-button {
    z-index: 100;
    background-color: var(--primary-green);
    font-size: .875rem;
    font-weight: 700;
    height: 3rem;
    border: none;
    width: 16rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.splash-page-video {
    height: 30rem;
    /* height: 100%; */
    /* width: 100%; */
}


/*************SPLASHPAGE:STYLES************/ 
/*************SPLASHPAGE:MEDIA-QUERIES************/

@media only screen and (min-width: 600px) {

    .app-content-container {
        display: flex;
        height: calc(100vh - 96.39px);
    }
    
.splash-page-content {
    padding-top: 10rem;
    text-align: center;
}

.splash-page-video {
    height: 40rem;
}

.splash-page-content {
    padding-bottom: 0rem;
}

}

@media only screen and (min-width: 796px) {

    
    .splash-page-content-overflow-wrapper {
        overflow: hidden;
        background-color: black;
    }
    .shift-content-wrapper {
        position: absolute;
        left: 0;
        right: 0;
    }

    .splash-page-content {
        width: 100%;
        background-color: initial;
    }
    .splash-page-header {
        width: 100%;
        background-color: initial;
    }
    .splash-page-video {
        width: 100vw;
        object-fit: cover;
        height: 100vh;
    }

    
    }

/*************SPLASHPAGE:MEDIA-QUERIES************/ 
/******************NAVBAR*******************/

.logo {
    /* margin-left: -3rem; */
    /* width: 12rem; */
    margin-top: 1rem;
    font-family: aglet-slab, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 1.5rem;
}
/******************NABBAR*******************/
/*************LOGIN.HTML:STYLES************/

.logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.login-form-section {
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-section h3 {
    padding-top: 3rem;
    font-size: 1.5rem;
}
.login-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}

.login-form {
    max-width: 30rem;
}
.login-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.login-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.login-form a {
    display: inline;
}

.login-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.login-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.login-form a {
    font-size: .875rem;
    display: inline-block;
}

.login-banner {
    background-color: var(--hero-green);
    color: white;
    height: 100vh;
    /* height: 100%; */
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-banner h1 {
    font-size: 2rem;
}
.login-banner p {
    font-size: 1rem;
}

.login-banner-img-container {
    display: flex;
    justify-content: end;
}

.login-banner-illustration {
    width:  16rem;
}







/*************LOGIN.HTML:STYLES************/


@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}


@media only screen and (min-width: 776px) {

    .login-banner-mobile {
        display: none;
    }

    .login-page-body {
        display:flex;
    }

    .login-form-section {
        /* padding-top: 2rem; */
        width: 50%;
        max-width: 22rem;
    }
    .login-banner {
        width: 100%;
    }
    
}

/*************LOGIN.HTML:MEDIA-QUERIES************/

/*************SIGNUP.HTML:STYLES************/
.sign-up-header {
    background-color: var(--hero-green);
    height: 4rem;
}
.signup-form-section {
    padding-top: 5rem;
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.signup-form-section h3 {
    font-size: 1.5rem;
}
.signup-footer {
    height: 4rem;
    background-color: #B945FF;
}

.signup-form {
    width: 25rem;
}
.signup-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.signup-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.signup-form a {
    display: inline;
}

.signup-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.signup-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.signup-form a {
    font-size: .875rem;
    display: inline-block;
}

.signup-banner {
   background-color: #501069;
    height: 100vh;
    /* height: 100%; */
    padding: 3rem;
}
.signup-banner h1 {
    font-size: 2rem;
}
.signup-banner p {
    font-size: 1rem;
}
.two-cacti-illustration {
    width: 20rem;
    margin-left: 2rem;
}

.one-cacti-illustration {
    width: 10rem;
    margin-right: 4rem;
}
.center-signup-form {
    display: flex;
    align-items: end;
}
/*************SIGNUP.HTML:STYLES************/

/*************LOGIN.HTML:STYLES************/


@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}


@media only screen and (min-width: 776px) {

    .login-banner-mobile {
        display: none;
    }

    .login-page-body {
        display:flex;
    }

    .login-form-section {
        /* padding-top: 2rem; */
        width: 50%;
        max-width: 22rem;
    }
    .login-banner {
        width: 100%;
    }
    
}

/*************LOGIN.HTML:MEDIA-QUERIES************/;
/********HEADER:START************/

header {
  background-color: var(--primary-green);
} */

.mobile-nav img {
  width: 2rem;
  margin-right: .25rem;
}

/********HEADER:END************/

/********SIDEBAR.JS:START************/
.aside {
    display: flex;
    height: 100%;
    background-color: var(--ultra-dark);
    width: 3rem;
    transition: width 0.6s;
}

.sticky-dash {
    height: 100%;
    background-color: var(--ultra-dark);
    width: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    min-width: 3rem;
    margin-right: 8px;
    padding-left: 2px;
    margin-left: 0px;
}

.sticky-dash ul {
    margin-top: .5rem;
    list-style-type: none;
    padding-left: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.sticky-dash ul li {
    margin-top: .5rem;
}

.sticky-dash li img {
    cursor: pointer;
}

.sidebar {
    position: absolute;
    left: -100%;
    background-color: var(--ultra-dark);
    transition: left 0.6s;
    padding-top: 2rem;
    height: calc(100vh - 6rem);
    width: calc(100% - 2.5rem);
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    z-index:2;
}

.sidebar h3 {
    font-size: 1.375rem;
    font-weight: 600;
    margin-left: .5rem;
    color: var(--grey1);
    padding-top: 10px;
}

.sidebar-add-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.sidebar ul {
  border-top: 1px solid var(--grey2);
  list-style: none;
  padding-left: 0;
  background-color: var(--ultra-dark);
}

.sidebar li a {
  font-size: .875rem;
  color: var(--grey1);
  text-decoration: none;
}

.sidebar li {
  font-size: .875rem;
  padding-left: .5rem;
  padding-top: .65rem;
  padding-bottom: .65rem;
  border-bottom: 1px solid var(--grey2);
  color: black;
  text-decoration: none;
}

.thread-sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .add-thread-row {
    display: flex;
    align-items: center;
} */
/* .add-thread-row span {
    font-size: .875rem;
} */
/* 
.add-dm-row {
    display: flex;
    align-items: center;
} */
/* .add-dm-row span {
    font-size: .875rem;
} */

/*************SIDEBAR.JS:END************/
/*************PANELS.JS:START************/

#sidebar-thread-panel {
    display: none;
}

#sidebar-events-panel {
    display: none;
}

/*************PANELS.JS:END************/
/*************FOOTER:START************/

footer {
  height: 2rem;
  background-color: var(--secondary-purple);
}

/*************FOOTER:END************/
/*************THREEDDISPLAY:START****************/

.thread-wrapper {
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.thread-content-container {
    /* background-color: red; */
    padding-left: 3px;
    /* margin-right: 1rem; */
    width: 100%;
    /* max-width: 40rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-right: 1rem;
}

.thread-title-container {
    display: flex;
    align-items: center;
}

.thread-title-container img {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.thread-header h3 {
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    color: var(--grey1);
}

.thread-header p {
    margin-left: 1rem;
    font-size: 1rem;
    color: var(--grey1);
}

.chats-container {
    height: 60vh;
    overflow: auto;
    padding-bottom: 10px;
}

.chats-container::-webkit-scrollbar {
    display: none;
}

.chat {
    line-height: 1.1rem;
    font-size: .75rem;
    background-color: #9200bb74;
    /* color: black; */
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: .5rem;
    /* margin-left: .875rem; */
    margin-left: 2%;
    width: 98%;
    border: 1px solid white;
    transition: background-color 0.25s ease-in;
}

.chat:hover {
    box-shadow: -1px -1px 6px white;
    background-color: var(--cactus-purple-highlight);
}

.chat p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.chat-name {
    font-size: .75rem;
    margin-top: 1rem;
    font-weight: 500;
    pointer-events: none;
}
.chat-date {
    font-size: .75rem;
    color: white;
    margin-left: 1rem;
    pointer-events: none;
}

.edit-span {
    font-style: italic;
    font-size: .75rem;
    color: white;
    margin-left: 1rem;
    pointer-events: none;
}

.post-options {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.post-bar {
    display: flex;
    justify-content: space-between;
}

.post-text {
    margin-right: 35px;
}

.comments-chip {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 12px 4px 12px 4px;
    border-radius: 15px;
    border: none;
    background-color: var(--ultra-dark);
    cursor: pointer;
}

.comments-chip div {
    background-color: var(--grey1);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    padding-top: 1px;
    justify-content: center;
    align-items: center;
    color: var(--ultra-dark);
    font-weight: 700;
}

.comments-chip p {
    margin: 0px 10px 0px 10px;
    color: var(--grey1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    background-color: var(--ultra-dark);
    min-width: 60px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    text-align: center;
    color: white;
    padding: 8px 12px;
    border: 1px solid white;
    text-decoration: none;
    display: block;
    transition: border background-color 0.7s linear;
}

.dropdown-content div:nth-of-type(1):hover {
    background-color: var(--hero-green);
    border: 1px solid white;
    cursor: pointer;
}

.dropdown-content div:nth-of-type(2):hover {
    background-color: red;
    border: 1px solid white;
    cursor: pointer;
}

/* .pos {
    pointer-events: none;
} */
.subthread-title {
    font-size: .65rem;
    margin-left: 1rem;
    color: white;
}
.subthread {
    background-color: var(--secondary-purple); 
    color: white;
}

.subthread-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    text-decoration: none;
}

.chat-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
    width: 98%;
    margin-bottom: 10px;
    padding: 0px 5px 5px 5px;
    font-size: .75rem !important;
    border: 1px solid var(--grey1);
    border-radius: 10px;
    position: sticky;
    z-index: 1;
    background-color: var(--ultra-dark);
}

.chat-input input {
    padding: .5rem;
    font-size: 1rem;
    border-radius: 10px;
    margin-top: 5px;
}

.chat-input input:focus {
    /* outline:none; */
}
.chat-input-buttons {
    display: flex;
    justify-content: end;
}

.chat-input-buttons button {
    border: none;
    font-size: .9rem;
    color: white;
    font-weight: 600;
    margin: 6px 2px 2px 0px;
    padding: .25rem;
    border-radius: .25rem;
    background-color: var(--hero-green);
}

.sub-thread-form-header {
    border-bottom: 1px grey solid;
}

/*************THREEDDISPLAY:END****************/
/*************THREEDDISPLAY-MEDIA-QUERIES:START****************/

@media only screen and (min-width: 680px) {
    .aside {
        max-width: 20rem;
    }
    .sidebar {
        max-width: 20rem;
    }
    .thread-wrapper {
        position: static;
        width: 100%;
    }
}


@media only screen and (max-height: 475px) {
  
    /* .chats-container {
        height: 30rem;
    } */
}

/*************THREEDDISPLAY-MEDIA-QUERIES:END****************/
/*************RIGHTSHELF:START****************/

.right-shelf {
  display: block;
  background-color: var(--grey1);
  width: 16rem;
  min-width: 16rem;
  padding-left: 1rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--ultra-dark);
}

.right-shelf h3 {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--grey1);
}

.right-shelf ul {
  margin-top: 1.1rem;
  list-style: none;
  padding-left: 0;
}
.right-shelf li {
  margin-top: .75rem;
  font-size: .75rem;
}

.right-shelf li:hover {
    cursor: pointer;
}

.friend-chips {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
    height: 35px;
    width: 200px;
    border-radius: 15px;
    background-color: var(--cactus-green-1);
    border: none;
}

.friend-chips p {
    height: 25px;
    margin: 0;
    color: var(--grey1);
}

.friend-pic {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    background-color: var(--grey1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0; */
}

.friend-chips:hover {
    cursor: pointer;
}

/*************RIGHT-SHELF:END****************/
/*************THREAD-DISPLAY-MEDIA-QUERIES:START****************/

@media only screen and (max-width: 925px) {
  
  .right-shelf {
    display: none;
  }
}

/*************THREEDDISPLAY-MEDIA-QUERIES:END****************/
/*************PROFILE.JS:START****************/

.profile-header {
    margin-top: 2rem;
}
.profile-header h3 {
    font-size: 1rem;
    color: white;
}

.join-date {
    color: white;
    font-size: .75rem;
}

.profile-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    /* padding-left: 1rem; */
    background-color: #232323;
}

.user-bio {
    color: white;
    margin-top: .75rem;
    font-size: .875rem;
}

.profile-content-container {
    padding-left: 1.5rem;
    width: calc(100% - 2.5rem);
    /* max-width: 40rem; */
    height: 100%;
}

.profile-content-container::-webkit-scrollbar {
    display: none;
}

.placeholder-img {
    width: 10rem;
    height: 10rem;
    background-color: lightblue;
}

.user-info {
    margin-top: 1rem;
}

.user-name {
    font-size: 1.25rem;
    font-weight: 600;
}

.tech-stack {
    margin-top: .75rem;
    display: flex;
    align-items: center;
}

.tech-stack ul {
    padding-left: 0;
    list-style-type: none;
    display: inline-block;
}
.tech-stack ul li {
    /* margin-right: 1rem; */
    font-size: .75rem;
    display: inline-block;
}

.tech-chip {
    height: 30px;
    margin: 2px 0px 2px 8px;
    border: none;
    border-radius: 15px;
    padding: 0px 15px 0px 15px;
    font-weight: 400;
    font-size: 18px;
}

.profile-edit-container {
    display: flex;
    justify-content: space-between;
}

.profile-pic-div {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.edit-profile-pic {
    /* background-color: white;  */
    padding: 5px;
    border-radius: 50%; 
    cursor: pointer;
}

/*************PROFILE.JS:END****************/
/*************PROFILE.JS:MEDIA-QUERIES-START***************/

.profile-wrapper {
    position: static;
    width: 100%;
}

/*************PROFILE.JS:MEDIA-QUERIES-END***************/
/*************404.HTML:STYLES************/
.error-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}
.error-banner {
   background-color: #501069;
    color: white;
    /* height: 100vh; */
    height: 100%;
    padding: 3rem;
}
.error-banner h1 {
    font-size: 2rem;
}
.centered {
    position: absolute;
    top: 37%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
  }
.error-banner p {
    font-size: 1rem;
}
#img {
    width: 100%;
    object-fit: cover;
    height: auto;
  }
#parallax_wrapper {
    position: relative;
    z-index: 0;
    object-fit: cover;
  }
  #parallax_field {
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 380px;
    width: 100%;
  }
  #parallax_illustration {
    display: block;
    margin: auto;
    width: 100%;
    height: 750px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  

  #parallax_field  {
    overflow: hidden;
    width: 105%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
  }
/*************404.HTML:STYLES************/
/*************MODAL:STYLES************/

.modal-header {
    padding: 1rem;
    border-bottom: 1px solid grey;
}
.modal-form {
    padding-bottom: 2rem;
}
.modal-header h4 {
    margin-top: .5rem;
    font-size: 1rem;
}
.modal-form label {
    margin-top: 1.5rem;
    font-size: .875rem;
    font-weight: 500;
    display: block;
    margin-left: 1rem;
}
.modal-form input {
    margin-top: .75rem;
    margin-left: 1rem;
    height: 2rem;
    width: calc(100% - 2rem);
}
.modal-form input::placeholder {
    font-size: .75rem;
}

.modal-textarea {
    font-size: .75rem;
    margin-left: 1rem;
    height: 3rem;
    width: calc(100% - 2rem);
}

.modal-button {
    margin-top: 2rem;
    font-size: .75rem;
    color: white;
    background-color: #FF7600;
    padding-top: .75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: .75rem;
    border: none;
    border-radius: .25rem;
    margin-left: 1rem;
}
/*************MODAL:STYLES************/
/*******************THREAD:INPUT*******************/

.editable:empty:before {
    content: attr(data-placeholder);
}

/*******************THREAD:INPUT*******************/