/*************GLOBAL:STYLES************/

/* importing default font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

/*************GLOBAL:STYLES************/
/*************LOGIN.HTML:STYLES************/

.login-form-section {
    padding-top: 3rem;
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-section h3 {
    font-size: 1.5rem;
}
.login-banner-mobile {
    height: 4rem;
    background-color: blue;
}

.login-form {
    max-width: 30rem;
}
.login-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.login-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.login-form a {
    display: inline;
}

.login-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: blue;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.login-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.login-form a {
    font-size: .875rem;
    display: inline-block;
}

.login-banner {
    background-color: blueviolet;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.login-banner h1 {
    font-size: 2rem;
}
.login-banner p {
    font-size: 1rem;
}







/*************LOGIN.HTML:STYLES************/

/*************SIGNUP.HTML:STYLES************/
.signup-form-section {
    padding-top: 3rem;
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-section h3 {
    font-size: 1.5rem;
}
.signup-banner-mobile {
    height: 4rem;
    background-color: blue;
}

.signup-form {
    max-width: 30rem;
}
.signup-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.signup-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.signup-form a {
    display: inline;
}

.signup-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: blue;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.signup-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.signup-form a {
    font-size: .875rem;
    display: inline-block;
}

.signup-banner {
    background-color: blueviolet;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.signup-banner h1 {
    font-size: 2rem;
}
.signup-banner p {
    font-size: 1rem;
}
/*************SIGNUP.HTML:STYLES************/
/*************LOGIN.HTML:MEDIA-QUERIES************/

@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}


@media only screen and (min-width: 776px) {

    .login-banner-mobile {
        display: none;
    }

    .login-page-body {
        display:flex;
    }

    .login-form-section {
        padding-top: 6rem;
        width: 45%;
        max-width: 22rem;
    }
    .login-banner {
        width: 100%;
    }
}

/*************LOGIN.HTML:MEDIA-QUERIES************/
