/*************GLOBAL:STYLES************/

/* importing default font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

/*************GLOBAL:STYLES************/
/*************LOGIN.HTML:STYLES************/

.logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.logo {
    margin-top: 1rem;
    width: 7rem;
}
.login-form-section {
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-section h3 {
    padding-top: 3rem;
    font-size: 1.5rem;
}
.login-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}

.login-form {
    max-width: 30rem;
}
.login-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.login-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.login-form a {
    display: inline;
}

.login-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.login-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.login-form a {
    font-size: .875rem;
    display: inline-block;
}

.login-banner {
    background-color: #501069;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.login-banner h1 {
    font-size: 2rem;
}
.login-banner p {
    font-size: 1rem;
}







/*************LOGIN.HTML:STYLES************/


@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}


@media only screen and (min-width: 776px) {

    .login-banner-mobile {
        display: none;
    }

    .login-page-body {
        display:flex;
    }

    .login-form-section {
        /* padding-top: 2rem; */
        width: 50%;
        max-width: 22rem;
    }
    .login-banner {
        width: 100%;
    }
    
}

/*************LOGIN.HTML:MEDIA-QUERIES************/

/*************SIGNUP.HTML:STYLES************/
.signup-form-section {
    padding-top: 3rem;
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-section h3 {
    font-size: 1.5rem;
}
.signup-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}

.signup-form {
    max-width: 30rem;
}
.signup-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.signup-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.signup-form a {
    display: inline;
}

.signup-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.signup-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.signup-form a {
    font-size: .875rem;
    display: inline-block;
}

.signup-banner {
   background-color: #501069;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.signup-banner h1 {
    font-size: 2rem;
}
.signup-banner p {
    font-size: 1rem;
}
/*************SIGNUP.HTML:STYLES************/

/*************LOGIN.HTML:STYLES************/


@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}


@media only screen and (min-width: 776px) {

    .login-banner-mobile {
        display: none;
    }

    .login-page-body {
        display:flex;
    }

    .login-form-section {
        /* padding-top: 2rem; */
        width: 50%;
        max-width: 22rem;
    }
    .login-banner {
        width: 100%;
    }
    
}

/*************LOGIN.HTML:MEDIA-QUERIES************/

/*************DASHBOARD.HTML:STYLING************/
body {
    margin: 10px 60px;
}
a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}
textarea {
    width: 80%;
    height: 80px;
}
button {
    display: block;
    margin: 10px 0;
}
.top-bar {
    background-color: skyblue;
    padding: 0 40px;
}
.main {
    background-color: #F6F6EF;
    padding: 10px 40px;
}
.comments {
    margin: 40px 0;
}
.comment {
    margin: 10px 0;
}
.row {
    padding: 5px 0;
}
.bottom, .top-comment {
    display: flex;
    color: grey;
    font-size: 12px;
}
.timestamp {
    padding-right: 10px;
}
.comment-ts {
    padding-left: 10px;
}

signup-form-section {
    padding-top: 3rem;
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-section h3 {
    font-size: 1.5rem;
}
.signup-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}

.signup-form {
    max-width: 30rem;
}
.signup-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.signup-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.signup-form a {
    display: inline;
}

.signup-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.signup-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.signup-form a {
    font-size: .875rem;
    display: inline-block;
}

.signup-banner {
   background-color: #501069;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.signup-banner h1 {
    font-size: 2rem;
}
.signup-banner p {
    font-size: 1rem;
}



/*************DASHBOARD.HTML:STYLING************/