/*************GLOBAL:STYLES************/

/* importing default font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-green: #7ADA46;
    --grey1: #F8F9FC;
    --grey2: #E6E7EA;
    --secondary-purple: #9200BB;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;

}

.app-container {
    display: flex;
}

/*************GLOBAL:STYLES************/
/*************LOGIN.HTML:STYLES************/

.logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.logo {
    margin-top: 1rem;
    width: 7rem;
}
.login-form-section {
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-section h3 {
    padding-top: 3rem;
    font-size: 1.5rem;
}
.login-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}

.login-form {
    max-width: 30rem;
}
.login-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.login-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.login-form a {
    display: inline;
}

.login-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.login-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.login-form a {
    font-size: .875rem;
    display: inline-block;
}

.login-banner {
    background-color: #501069;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.login-banner h1 {
    font-size: 2rem;
}
.login-banner p {
    font-size: 1rem;
}







/*************LOGIN.HTML:STYLES************/


@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}


@media only screen and (min-width: 776px) {

    .login-banner-mobile {
        display: none;
    }

    .login-page-body {
        display:flex;
    }

    .login-form-section {
        /* padding-top: 2rem; */
        width: 50%;
        max-width: 22rem;
    }
    .login-banner {
        width: 100%;
    }
    
}

/*************LOGIN.HTML:MEDIA-QUERIES************/

/*************SIGNUP.HTML:STYLES************/
.signup-form-section {
    padding-top: 3rem;
    width: calc(100% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-section h3 {
    font-size: 1.5rem;
}
.signup-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}

.signup-form {
    max-width: 30rem;
}
.signup-form label {
    margin-left: 0;
    font-size: .75rem;
    display: block;
}

.signup-form input {
    display: block;
    width: calc(100% - 1rem);
    height: 2rem;
}

.signup-form a {
    display: inline;
}

.signup-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.signup-form p {
    margin-top: 1rem;
    font-size: .875rem;
    display: inline-block;
}

.signup-form a {
    font-size: .875rem;
    display: inline-block;
}

.signup-banner {
   background-color: #501069;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.signup-banner h1 {
    font-size: 2rem;
}
.signup-banner p {
    font-size: 1rem;
}
/*************SIGNUP.HTML:STYLES************/

/*************LOGIN.HTML:STYLES************/


@media only screen and (max-width: 776px) {

    .login-banner {
        display: none;
    }
}


@media only screen and (min-width: 776px) {

    .login-banner-mobile {
        display: none;
    }

    .login-page-body {
        display:flex;
    }

    .login-form-section {
        /* padding-top: 2rem; */
        width: 50%;
        max-width: 22rem;
    }
    .login-banner {
        width: 100%;
    }
    
}

/*************LOGIN.HTML:MEDIA-QUERIES************/

/*************DASHBOARD.HTML:STYLING************/
/* body {
    margin: 10px 60px;
}
a {
    text-decoration: none;
    color: black;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}
textarea {
    width: 80%;
    height: 80px;
}
button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.main {
    background-color: #DAF5CB;
    padding: 10px 40px;
}
.comments {
    margin: 40px 0;
}
.row {
    padding: 5px 0;
}
.comment-ts {
    padding-left: 10px;
}

.dashboard-form button {
    display: block;
    margin-top: 1.5rem;
    background-color: #56B524;;
    color: white;
    border: none;
    font-size: .875rem;
    width: 6rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .25rem;
}

.dashboard-banner {
   background-color: #56B524;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.dashboard-banner h1 {
    font-size: 2rem;
}
.dashboard-banner p {
    font-size: 1rem;
} */

/********Mobile************/
.header {
    height: 2.25rem;
    background-color: var(--primary-green);
}

.sticky-dash {
    height: calc(100vh - 4rem);
    background-color: var(--grey2);
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    min-width: 2.5rem;
}

.sticky-dash ul {
    margin-top: .5rem;
    list-style-type: none;
    padding-left: 0;
}

.mobile-nav img {
    width: 2rem;
    margin-right: .25rem;
}

.sidebar {
    height: 2rem;
    background-color: var(--primary-green);
    z-index: 2;
}

#sidebar {
    background-color: var(--grey1);
    transition: .5s;
    padding-top: 2rem;
    height: calc(100vh - 4rem);
    /* background-color: var(--grey1); */
    width: calc( 100% - 2.5rem);
    max-width: 20rem;
    z-index: 2;
}

.sidebar h3 {
    font-size: .875rem;
    font-weight: 600;
    margin-left: .5rem;
}

.mobile-dashboard-section-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-add-icon {
    width: 1rem;
    margin-right: .1rem;
}

.add-thread-row {
    display: flex;
    align-items: center;
}
.add-thread-row span {
    font-size: .875rem;
}

.add-dm-row {
    display: flex;
    align-items: center;
}
.add-dm-row span {
    font-size: .875rem;
}

.sidebar ul {
    border-top: 1px solid var(--grey2);
    list-style: none;
    padding-left: 0;
    background-color: var(--grey1);
}

.sidebar li a {
    font-size: .875rem;
    color: black;
    text-decoration: none;
}

.sidebar li {
    font-size: .875rem;
    padding-left: .5rem;
    padding-top: .65rem;
    padding-bottom: .65rem;
    border-bottom: 1px solid var(--grey2);
    color: black;
    text-decoration: none;
}

.mobile-dashboard-footer {
    height: 2rem;
    background-color: var(--secondary-purple);
}


/********Mobile************/
/*************DASHBOARD.HTML:STYLING************/
/*************DASHBOARD.HTML:MEDIA-QUERIES************/

/* @media only screen and (min-width: 500px) {

    .mobile-nav img {
        display: none;
    }
    
} */

/*************DASHBOARD.HTML:MEDIA-QUERIES************/
/* ***********THREAD-Content-Container*************/

.thread-content-container {
    z-index: 1;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.thread-content-container h3 {
    font-size: 1rem;
    margin-top: 2rem;
}

.thread-content-container p {
    font-size: .875rem;
}
.center-thread {
    width: 100%;
    max-width: 30rem;
}
.chat {
    line-height: 1.1rem;
    font-size: .75rem;
    background-color: #FFB240;
    color: white;
    padding: .5rem;
    border-radius: .25rem;
    margin-top: .5rem;
    margin-left: .875rem;
}
.chat p {
    font-size: .75rem;
    margin-bottom: 0;
}

.chat-container {
    display: flex;
    margin-left: -2.75rem;
}

/* .chat-container span {
    font-size: .75rem;
    font-weight: 500;
} */
.chat-name {
    font-size: .75rem;
    margin-top: 1rem;
    font-weight: 500;
}
.chat-date {
    font-size: .5rem;
}
.chat-date-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat span {
    font-size: .5rem;
    width: 100%;
    display: block;
    text-align: end;
    margin-right: 1.25rem;
}

/************THREAD-Content-Container*************/
/*************404.HTML:STYLES************/
.error-banner-mobile {
    height: 4rem;
    background-color: #B945FF;
}
.error-banner {
   background-color: #501069;
    color: white;
    height: 100vh;
    padding: 3rem;
}
.error-banner h1 {
    font-size: 2rem;
}
.centered {
    position: absolute;
    top: 37%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
  }
.error-banner p {
    font-size: 1rem;
}
#img {
    width: 100%;
    height: auto;
  }
#parallax_wrapper {
    position: relative;
    z-index: 0;
  }
  #parallax_field {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 380px;
    width: 100%;
  }
  #parallax_illustration {
    display: block;
    margin: 0 auto;
    width: 940px;
    height: 380px;
    position: relative;
    overflow: hidden;
  }
  #parallax_illustration #parallax_sign {
    position: absolute;
    top: 25px;
    left: 582px;
    z-index: 10;
  }
  #parallax_illustration #parallax_octocat {
    position: absolute;
    top: 66px;
    left: 431px;
    z-index: 8;
  }
  #parallax_illustration #parallax_error_text {
    display: block;
    width: 400px;
    height: 144px;
    position: absolute;
    top: 165px;
    left: 152px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    background-image: "";
    background-repeat: no-repeat;
    padding: 64px 0 0 106px;
    color: #183913;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
    z-index: 5;
  }
  #parallax_field #parallax_bg {
    overflow: hidden;
    width: 105%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
  }
  #parallax_illustration #parallax_error_text span {
    display: block;
    margin-left: 12px;
  }
/*************404.HTML:STYLES************/
