<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../../src/jass.css">
</head>
<body class="error-page-body">
    <div class="error-banner-mobile">
        <img src="#" alt="">
    </div>
    
    <div id="parallax_wrapper">
        <!-- <div id="parallax_field">
            <img id="img" src="./assets/img/error.png" alt="error page with a bird and text">
        </div> -->
        <div id="parallax_illustration">
            <img src="../assets/img/error.png"alt="Error page with a bird and text" class="js-plaxify" data-invert="true" data-xrange="20" data-yrange="40" height="181"
                 id="parallax_sign" width="100" src=""
                style="transform: translate3d(-25.96279px, 30.8794px);">
        </div>
    <section class="error-banner">
        <h1>
            Cactus Social<br>
            A sleek, secure,<br>
            and transparent platform...
        </h1>
    </section>
</body>
<footer class="mobile-dashboard-footer">
</footer>
    <script src="../js/parallax.js"></script>
</html>


<!-- <body data-new-gr-c-s-loaded="14.1040.0">
    <div id="parallax_wrapper">
        <div id="parallax_field">
            <img id="img" src="./assets/img/error.png" alt="error page with a bird and text">
        </div>
        <div id="parallax_illustration">
            <img alt="" class="js-plaxify" data-xrange="10" data-yrange="10" height="204" id="parallax_octocat"
                width="175" src="" style="top: 66px; left: 431px; transform: translate3d(4.9814px, -3.96985px, 0px);">
            <img alt="500 Error" class="js-plaxify" data-invert="true" data-xrange="20" data-yrange="40" height="181"
                id="parallax_sign" width="211" src=""
                style="top: 25px; left: 582px; transform: translate3d(-9.96279px, 15.8794px, 0px);">
            <p id="parallax_error_text" class="js-plaxify" data-xrange="25" data-yrange="25"
                style="top: 175px; left: 152px; transform: translate3d(12.9535px, -9.42462px, 0px);">
            </p>
        </div>
        <span id="error_500"></span>
    </div>


    <script src="./js/parallax.js"></script>
</body> -->