<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel = "stylesheet" href="stickyDash.css">
    <title>Sticky Dash</title>
</head>


<body>
    <div class="main-menu">
        <ul>
            <li class="menu-item"><i class= "fa fa-home"></i>Option 1</li>
            <li class="menu-item"><i class= "fa fa-beer"></i>Option 3</li>
            <li class="menu-item"><i class= "fa fa-binoculars"></i>Option 2</li>
            <li class="menu-item"><i class= "fa fa-bicycle"></i>Option 4</li>
            <li class="menu-item"><i class= "fa fa-bus"></i>Option 5</li>
            <li class="menu-item"><i class= "fa fa-bug"></i>Option 6</li>
            <li class="menu-item"><i class= "fa fa-bullhorn"></i>Option 7</li>
            <li class="menu-item"><i class= "fa fa-bell"></i>Option 8</li>
            <li class="menu-item"><i class= "fa fa-bed"></i>Option 9</li>
            <li class="menu-item"><i class= "fa fa-camera"></i>Option 10</li>
            <li class="menu-item"><i class= "fa fa-coffee"></i>Option 11</li>
            <li class="menu-item"><i class= "fa fa-comment"></i>Option 12</li>
            <li class="menu-item"><i class= "fa fa-cutlery"></i>Scroll Test</li>
            <li class="menu-item"><i class= "fa fa-cutlery"></i>Scroll Test</li>
            <li class="menu-item"><i class= "fa fa-cutlery"></i>Scroll Test</li>
            <li class="menu-item"><i class= "fa fa-cutlery"></i>Scroll Test</li>
            
        

        </ul>

    </div>


</body>







</html>